
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #eaeef3;
}

header{
    z-index: 100;
}

a{
    color: black;;
    text-decoration: none;
}

ul,li{
    list-style: none;
}

nav{
    display: flex;
    justify-content: space-evenly;
}

.po{
    width: 100%;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.486);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    border: 1px solid black;
}
.po > li{
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    height: 20px;
    transition: 1s;

}

.po-1:hover{
    transition: 1s;
    background-color:   black;
}

.po-1:hover > a{
    transition: 1s;
    color: white;
}

.po > li > ul >li > a{
    color: white;
}

.dor > a{
    transition: 1s;
    padding: 20px;
    border-radius: 20px;
}



.dor:hover > a{
    transition: 1s;
    color: white;
    background-color: black;
}


main{
    display: flex;
    justify-content: center;
}

.login{
    font-size: 30px;
    border-radius: 20px;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #daff7da4;
}

.login-1{
    font-size: 20px;
}

.login-1 li{
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.login-1 li input{
    font-size: 20px;
    width: 300px;
    height: 50px;
    border-radius: 10px;
}

.sumbit input{
    cursor: pointer;
    transition: 1s;
}

.sumbit input:hover{
    transition: 1s;
    background-color: #daff7d4a;
}